# python 3.10.4
-i https://pypi.tuna.tsinghua.edu.cn/simple
colorama==0.4.6
# openai==0.27.2
openai==1.35.12
python-dotenv==1.0.0
prettytable==3.7.0
PyMySQL==1.0.3
SQLAlchemy==1.4.49
pandas==2.02
numpy
fastapi==0.111.0
uvicorn==0.30.1
llama-index==0.10.53
langchain-openai
langchain
